:root {
    --white-color: #fff;
    --black-color: #000;
    --header-color: #222;
    --text-color: #999;
    --border-radius-2: 2px;
    --border-radius-4: 4px;
    --border-radius-6: 6px;
    --border-radius-8: 8px;
    --border-radius-12: 12px;
    --border-radius-16: 16px;
    --border-primary-color: #d6d6d6;
    --primary-color: #f65e39;
    --primary-box-shadow: #0000001a;
    --primary-transition-time: .3s;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.container {
    margin: 42px 0 70px;
}

.grid {
    width: 1297px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__navbar {
    width: 1536px;
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column-2 {
    width: 16.666667%;
}

.column-6 {
    width: 50%;
}

.column-8 {
    width: 66.666667%;
}

.column-10 {
    width: 83.33333%;
}

.column-12 {
    width: 100%;
}

.input-active {
    height: 100%;
    box-shadow: inset 0 0 0 2px rgb(0 0 0 / 14%);
}

.mt-18 {
    margin-top: 18px;
}